<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='../css/home.css'>
    <link rel="stylesheet" href='../css/MQhome.css'>
    <title>Consulta de Exames</title>
</head>
<body>
    <div class="container">
        <div class="img-home"></div>
        <div class="inf-user">
            <div class="img-MQhome"></div>
            <h1>Consulta de Exames</h1>
            <p>Acesse com seu login:</p>
            <button>
                <a href="/login">Login</a>
            </button>
                <br><br>
            <p>Ou escaneie o QR code do site:</p>
            <a href="/qr">QR Code Geral</a>
        </div>
    </div>
</body>
</html>
