<!DOCTYPE html>
<html>
<head>
    <title>QR Code</title>
</head>
<body>
    <h1>QR Code do site de consulta</h1>
    <img src="<%= qrDataURL %>" alt="QR Code">
    <p>Ou acesse: <a href="<%= url %>"><%= url %></a></p>
</body>
</html>
