@import url(normalaizer.css);

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg, rgb(58, 169, 212) 0%, rgba(73, 73, 255, 1) 50%, rgba(120, 121, 255, 1) 100%);
    
}

a{
    text-decoration: none;
    color: black;
}

.container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 20px;
}

.img-home{
    display: none;
    width: 50%;
    height: 100%;
    background: url(../imagens/fc319095-70ad-40c0-b277-25d3e282b648.jpg) center center no-repeat;
    background-size: cover;
    
}

.img-MQhome{
    position: absolute;
    border-radius: 15px;
    width: 95%;
    height: 200px;
    top: 5px;
    background: url('../imagens/feliz_natal_MQ.png') center center no-repeat;
    background-size: cover;
}

.inf-user{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 100vw;
    height: 100vh;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.inf-user button{
    border-radius: 45px;
    height: auto;
    width: 50%;
    border: 2px solid rgba(66, 66, 66, 0.541);
    font-size: 35px;
}
