@import url(normalaizer.css);

.topo{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 50px;
}

table {
    width: 95vw;
    font-size: 35px;
}

table td{
    padding: 5px;
}

.topo{
    background: lightgray;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100vw;
}

.topo button{
    width: 150px;
    font-size: 20px;
    align-items: center;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.topo i{
    font-size: 25px;
}

.topo a{
    color: black;
}