@import url(normalaizer.css);

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg, rgb(58, 169, 212) 0%, rgba(73, 73, 255, 1) 50%, rgba(120, 121, 255, 1) 100%);
    
}

.container{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100vw;
    height: 80vh;
}

.img-login{
    border-radius: 45px 45px 0 0;
    width: 50%;
    height: 100%;
    z-index: 10;
    background: url(../imagens/fc319095-70ad-40c0-b277-25d3e282b648.jpg) center center no-repeat;
    background-size: cover;
}

.dados-user{
    background: white;
    border-radius: 0 0 45px 45px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 50%;
    height: 100%;
    gap: 25px;
    justify-content: center;
    align-items: center;
}


.input-box{
    display: flex;
    align-items: center;
    gap: 8px;
}

.input-box i{
    font-size: 25px;
}

.dados-user form input{
    width: 100%;
    height: 50px;
    border-radius: 45px;
    outline: none;
    text-indent: 10px;
    border: 2px solid rgba(66, 66, 66, 0.541);
}

.dados-user form button {
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 45px;
    outline: none;
    border: 2px solid rgba(66, 66, 66, 0.541);
    background: transparent;
}